CHAT_SERVICE_PORT=8083

MONGODB_URI=mongodb://root:CHANGE_ME@localhost:27017/messaging_chat?authSource=admin&replicaSet=rs0

MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=CHANGE_ME
MONGO_DATABASE=messaging_chat

AUTH_JWK_SET_URI=http://messaging-auth-service:8081/oauth2/jwks

CHAT_INTERNAL_SERVICE_TOKEN=CHANGE_ME


USER_SERVICE_BASE_URL=http://localhost:8082
USER_SERVICE_INTERNAL_TOKEN=SAME_ONE_AS_USER_SERVICE_INTERNAL_HMAC_SECRET
USER_SERVICE_CONNECT_TIMEOUT=2s
USER_SERVICE_READ_TIMEOUT=3s

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_ENABLED=true
KAFKA_RELAY_INTERVAL=PT0.5S
KAFKA_RELAY_BATCH=100