CHAT_SERVICE_PORT=8083

MONGODB_URI=mongodb://root:CHANGE_ME@localhost:27017/messaging_chat?authSource=admin&replicaSet=rs0

AUTH_JWK_SET_URI=http://localhost:8081/.well-known/jwks.json

CHAT_INTERNAL_SERVICE_TOKEN=CHANGE_ME

USER_SERVICE_BASE_URL=http://localhost:8082
USER_SERVICE_INTERNAL_TOKEN=CHANGE_ME